h4 {
    font-size: 1.2rem;
}

.app-countries {
    background-color: #fafafa;
    width: 100vw;
    margin-top: 20px;
}

.app-countries ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0 auto;
    padding: 0;
    max-width: 1200px;
    margin-top: 50px;
}

.information-country {
    flex: 1 1 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.information-country img {
    width: 80px;
    height: 50px;
    object-fit: cover;
}


.information-country p {
    margin-top: 5px;
}

.information-country div {
    display: flex;
    align-items: flex-end;
    gap: 10px;
}