* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
}

.image-worldmap {
    max-width: 90vw;
    height: 600px;
    display: block;
    margin: 0 auto 10px;
}

.error-message {
    color: red;
}

.flag {
    width: 50px;
}

.flag-country {
    display: flex;
    align-items: flex-end;
    gap: 10px;
}

.single-country-container {
    margin-bottom: 50px;
    padding: 1rem;
    box-shadow: 12px 14px 20px 2px rgba(0, 0, 0, 0.10);
}

.single-country-container > hr, p {
    margin-top: 10px;
}

hr {
    opacity: 30%;
}

form {
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

input {
    width: 300px;
    height: 30px;
    border-radius: 5px;
}

form > button {
    padding: 10px;
}